
// color 
$color-green: #189A46;
$color-red: #f53626;
$color-heading: #000c04;
$color-white: #fff;
$color-font: #696969;
$color-bd: #ddd;
$color-bd-light: #f0f3f0;
$color-bg-light: rgba(147, 107, 232, 0.05);